html {
  box-sizing: border-box;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fefefe;
}

h1 {
  color: darkgreen;
}

h2 {
  color: #1460AA;
}

section {
  background: #cdc1f8;
}

.czerwony {
  color: red;
}

#szkolenie {
  background: yellow;
}

a {
  color: inherit;
}

section a {
  color: inherit;
}

.my-article {
  color: hotpink !important;
}

section {
  padding: 16px;
}

.my-article p {
  background: #1460AA;
  color: #fefefe;
}

#name {
  color: red;
}

.about {
  color: brown;
}