html {
  box-sizing: border-box;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fefefe;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: sticky;
  top: 0;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  color: darkgreen;
}

h2 {
  color: #1460AA;
}



.czerwony {
  color: red;
}

#podstrona {
  background: yellow;
}

.page-header {
  font-size: 10px;
}

.page-header__heading {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.section {
  padding: 16px;
  background: #cdc1f8;
}

.section a {
  color: inherit;
}

.section p {
  line-height: 1.5;
}

.article {}

.article__header {
  color: #126e7e;
}


.article p {
  background: #1460AA;
  color: #fefefe;
}

#name {
  color: red;
}

.about {
  color: brown;
}



.navigation {
  padding: 16px;
  background: blue;
  color: white;
}

.navigation__link {
  color: white;
}

.section {
  background: #dcdcdc;
  margin-bottom: 16px;
}


.page-footer {
  text-align: center;
}

.section__image {
  max-width: 100%;
  display: block;
}

.page-footer__top-link {
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: block;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: black;
}

.special {
  color: green;
}